body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

#phone-wrapper {
    background-color: #131313;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    width: 100%;
}

#calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    text-align: center;
}

#display {
    font-size: 2em;
    text-align: right;
    padding: 10px;
    margin-bottom: 10px;
    color: #090808;
    background-color: #e8b10d;
    border: none;
    border-radius: 5px;
    width: calc(100% - 20px);
}

button {
    width: 100%;
    padding: 15px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #faf8f8;
    color: #0c0b0b;
}

button.double {
    grid-column: span 2;
}

button.double-zero {
    grid-column: span 2;
}